*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
    z-index: 9999999;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 5rem;
}


img {
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.search {
    display: flex;
    align-items: center;
    border-radius: 17px;
    border: 3px solid #626262;
    overflow: hidden;
    height: 40px;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    margin-left: 1rem;
    font-size: 18px;

    &::placeholder {
        color: rgba(123, 117, 117, 0.87);
        font-size: 18px;
        font-family: Roboto;
        line-height: 22px;
        letter-spacing: 0.5px;
    }
}

.search .icon {
    padding: 1rem;
    cursor: pointer;

    &:hover {
        color: rgb(90, 101, 255);
    }
}


.account {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.useraccount {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.icons {
    display: flex;
}

.icon1 {
    padding: 1rem;
}

.icon2 {
    padding: 1rem 2rem 1rem 1rem;
}

.avatar {
    padding: 1rem;
}

.account .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user,
h1 {
    color: rgba(64, 85, 138, 0.87);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.15px;
    margin: 0;
}

.user,
p {
    color: var(--black-medium-emphasis, rgba(0, 0, 0, 0.60));
    font-size: 11px;
    font-family: Roboto;
    letter-spacing: 0.25px;
    margin: 0;
}


.closeNavbar {
    display: none;

}


.toddleNavbar {
    display: none;
}


.uid{
    display: flex;
}


@media screen and (max-width:980px) {
    .options {
        position: absolute;
        background: white;
        height: max-content;
        width: 80%;
        border-radius: 1rem;
        top: -500rem;
        left: 50%;
        padding: 1rem;
        transform: translate(-50%);
        z-index: 2000;
        box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
        transition: 0.5s ease-in-out;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


.useraccount{
    flex-direction: column;
    margin-top: 10px;
}


    .header {
        justify-content: space-between;
    }

    .closeNavbar {
        display: flex;
        position: relative;
        top: 0;
        left: 45%;
        padding: 0;
        margin: 0;
        padding: 0 0 1rem ;
        color: rgb(107, 107, 107);

        &:hover {
            color: black;
        }

    }


    .account {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .icon2 {
        padding: 1rem;
    }


    .activeNavbar {
        top: 7rem;
    }

    .toddleNavbar {
        display: flex;
    }

    .toddleNavbar .icon {
        font-size: 25px;
        color: rgb(107, 107, 107);
        display: flex;
        padding: 0 1rem 1rem 0;
    }

    &:hover .icon {
        color: black;
    }
}