.card {
    background: #fff;
    box-shadow: 0 5px 10px #d8d8d8;
    border-radius: 15px;
    border-radius: 25px;
}


.detailssec {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.detailssec .details {
    font-size: 15px;
    color: black;
    text-align: center;
}

.name {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: .6rem;
}

.bold1 {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.box2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.box1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.box1 .icon {
    font-size: 35px;
    color: #7B30C0;
}

.box2 .icon {
    font-size: 35px;
    color: #7B30C0;
}

.name .normal {
    font-size: 12px;
    color: rgb(114, 114, 114);
}

.imgsec img {
    border-radius: 25px;
    overflow: hidden;
    object-fit: cover;
}