* {
    padding: 0;
    margin: 0;
}

.document {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #F1F5FB;
    height: 100%;
}

.document .ser {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ser .searchdiv {
    width: 92%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.ser .searchdiv .btns {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.ser .searchdiv .infull {
    display: flex;
    justify-content: space-between;
    width: 60%;
    gap: 1rem;
}

.ser .searchdiv .infull .in {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 17px;
    border: 3px solid #E2E2E2;
    overflow: hidden;
    height: 40px;
}

.in input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    margin-left: 1rem;
    font-size: 18px;

    &::placeholder {
        color: rgba(123, 117, 117, 0.87);
        font-size: 18px;
        font-family: Roboto;
        line-height: 22px;
        letter-spacing: 0.5px;
    }
}

.infull .btn {
    background: #7B30C0;
    color: white;
    font-size: 13px;
    cursor: pointer;
    border: none;
    padding: 1rem 2rem;
    border-radius: 15px;
}

/* .searchdiv .btns .btn {
    background: #7B30C0;
    color: white;
    font-size: 13px;
    border: none;
    padding: 1rem 2rem;
    border-radius: 15px;
} */

.searchdiv .btns .cat {
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .4rem 1.5rem;
    border-radius: 15px;
    background: none;
    border: 2px solid #EA4C89;
    width: fit-content;
}

.cat .t {
    display: flex;
}

.tm {
    display: flex;
    align-items: center;
    padding: .4rem 1.5rem;
    gap: .2rem;
    border: 2px solid #4CCDA1;
    border-radius: 15px;
    background: none;
    width: fit-content;
}

.tm .t {
    display: flex;
}

.doc .t {
    display: flex;
}

.doc {
    display: flex;
    align-items: center;
    padding: .4rem 1.5rem;
    gap: .2rem;
    border: 2px solid #444CE7;
    border-radius: 15px;
    background: none;
    width: fit-content;
    margin: 0;
}

.document .fu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.document .fu .tabs {
    width: 92%;
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    border-bottom: 3px solid #D7D7D7;
}


.document .fu .tabs button {
    background: none;
    border: none;
    color: black;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    height: 50px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.document .fu .tabs .icon {
    color: #444CE7;
    font-size: 33px;
}
.document .tabs button:focus {
    border-bottom: 3px solid #444CE7;
}

.files {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    background: white;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2rem;
}

.files .in {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filelist {
    height: 550px;
    overflow: scroll;
    margin-bottom: 3rem;
}

.files .in .name {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0;
}

.files .in .name .logo {
    width: 35px;
    height: 35px;
}

.files .in .size {
    width: auto;
    display: flex;
    align-items: center;
}

.files .in .people {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.files .in .modifi {
    width: auto;
    display: flex;
    align-items: center;
}

.dandd {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dandd .dnd {
    width: 92%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.dandd .dnd1 {
    width: 70%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    border: 1px dashed #444CE7;
    margin: 2rem 0rem;
    padding: 1rem;
}

.dandd .dnd2 {
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100%;

}

.dandd .file {
    width: 92%;
}


.dandd .file1 {
    width: 92%;

}

.file .hd {
    display: flex;
    width: 100%;
    justify-content: center;
}

.file .hd .hd1 {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.hd .hd1 .one {
    color: #636161;
    font-weight: 500;
}

.hd .hd1 .two {
    color: #636161;
    font-weight: 500;
}

.hd .hd1 .three {
    color: #636161;
    font-weight: 500;
}

.hd .hd1 .four {
    color: #636161;
    font-weight: 500;
}

.file .rf {
    padding: 1rem 0rem 1rem 0rem;
    font-weight: 500;
    font-size: 23px;
}

.dnd2 .txt {
    font-size: 20px;
    font-weight: 500;
    color: black
}

.dnd2 .or {
    font-size: 15px;
    font-weight: 400;
    color: #BEBABA;
}

.dnd2 .browsefilebtn {
    font-size: 15px;
    font-weight: 400;
    background: #7B30C0;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border: none;
    padding: .7rem 1.5rem;
    border-radius: 15px;
    margin-top: 1rem;
}

.dnd2 .icn {
    font-size: 60px;
    color: #444CE7;
}

.case {
    width: 100%;
    display: flex;
    justify-content: center;
}

.case .file1 {
    display: flex;
    width: 92%;
    flex-direction: column;
    margin-top: 2rem;
}

.file1 .fheader {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.fheader .f {
    font-size: 20px;
    font-weight: 500;
}

.fheader .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7B30C0;
    background: none;
    border-radius: 15px;
    padding: .5rem .7rem;
    gap: .5rem;
}

.fheader .btn .icon {
    font-size: 15px;
}

.case .file1 .hd {
    display: flex;
    width: 100%;
    justify-content: center;
}

.case .file1 .hd .hd1 {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.hd .hd1 .one {
    color: #636161;
    font-weight: 500;
}

.hd .hd1 .two {
    color: #636161;
    font-weight: 500;
}

.hd .hd1 .three {
    color: #636161;
    font-weight: 500;
}

.hd .hd1 .four {
    color: #636161;
    font-weight: 500;
}

.file1 .rf {
    padding: 1rem 0rem 1rem 0rem;
    font-weight: 500;
    font-size: 23px;
}

.folderlist {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.crd {
    display: flex;
    flex-direction: column;
    width: 26%;
    background: white;
    box-shadow: 0 5px 10px #d8d8d8;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 99999999999;
    transform: translate(-50%);
    border-radius: 1rem;
    top: -500rem;
    height: fit-content;
    padding: 1rem;
    transition: 0.5s ease-in-out;
    padding: 2rem;
}


.popup .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: .5rem;
    font-size: 28px;
}


.popup {
    display: flex;
    flex-direction: column;
    width: 26%;
    height: fit-content;
    background: white;
    box-shadow: 0 5px 10px #d8d8d8;
    position: fixed;
    right: 50%;
    left: 50%;
    top: 10%;
    z-index: 99999999999;
    transform: translate(-50%);
    border-radius: 1rem;
    padding: 1rem;
    transition: 0.5s ease-in-out;
    padding: 2rem;
}

.popup .lwr {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.lwr .outlined {
    border: 1px solid #7B30C0;
    border-radius: 15px;
    background: none;
    padding: .6rem 2rem;
}

.lwr .contained {
    border: none;
    border-radius: 15px;
    background: #7B30C0;
    color: white;
    padding: .6rem 2rem;
    margin-left: 1rem;
}

.crd .upr {
    display: flex;
    flex-direction: column;
}

.upr .upr1 {
    display: flex;
    justify-content: space-between;
}

.upr1 .doctitle {
    font-size: 23px;
    color: black;
    font-weight: 500;
}

.upr .f1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.f1 .l12 {
    display: flex;
    flex-direction: column;
}

.l12 .input {
    width: 100%;
    border: none;
    outline: none;
    margin-top: .5rem;

    &::placeholder {
        color: rgba(123, 117, 117, 0.87);
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.5px;
    }
}

.r1 .input {
    width: 100%;
    border: none;
    outline: none;
    margin-top: .5rem;

    &::placeholder {
        color: rgba(123, 117, 117, 0.87);
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.5px;
    }
}


.f1 .r1 {
    display: flex;
    flex-direction: column;
}

.popup .upr {
    display: flex;
    flex-direction: column;
}

.popup .upr1 {
    display: flex;
    justify-content: space-between;
}

.upr1 .icon1 {
    font-size: 40px;
    color: #444CE7;
}

.popup .upr .f1 {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #7B7575;
}

.l12 .lable {
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-top: 1rem;
}

.r1 .lable {
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-top: 1rem;
}

/* media querry */

@media screen and (max-width:1486px) {
    .ser .searchdiv {
        flex-wrap: wrap;
    }

    .ser .searchdiv .btns {
        width: 100%;
        margin-top: 2rem;
        flex-wrap: wrap;
        margin-left: 0;
        justify-content: center;
    }

    .ser .searchdiv .infull {
        width: 100%;
        display: flex;
    }

}

@media screen and (max-width:1241px) {
    .document .popup .upr .f1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .popup {
        width: 38%;
        top: 15%;
    }
}

@media screen and (max-width:1037px) {
    .document .fu .tabs button {
        font-size: 15px;
        height: 40px;
        gap: 1rem;
    }

    .tabs .icon {
        color: #444CE7;
        font-size: 30px;
    }

}


@media screen and (max-width:700px) {
    .document .fu .tabs button {
        font-size: 12px;
        height: 40px;
        gap: 1rem;
    }

    .document .popup {
        width: 75%;
    }


    .tabs .icon {
        color: #444CE7;
        font-size: 27px;
    }

    .files .in .name .logo {
        width: 30px;
        height: 30px;
    }

    .files .in {
        padding: 1rem .8rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

}


@media screen and (max-width:500px) {
    .document .fu .tabs button {
        font-size: 10px;
        height: 35px;
        gap: .3rem;

    }

    .document .fu .tabs .icon {
        color: #444CE7;
        font-size: 22px;
    }

    .document .fu .tabs {
        width: 92%;
        display: flex;
        gap: 1rem;
        margin-top: 3rem;
        border-bottom: 3px solid #D7D7D7;
    }


    .dandd .dnd {
        width: 92%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }


    .dandd .dnd1 {
        width: 100%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450px;
        border: 1px dashed #444CE7;
        margin: 2rem 0rem;
        padding: 1rem;
    }

    .dandd .dnd2 {
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        height: 100%;

    }

    .dnd2 .txt {
        font-size: 13px;
        font-weight: 500;
        color: black
    }

    .dnd2 .or {
        font-size: 12px;
        font-weight: 400;
        color: #BEBABA;
    }

    .dnd2 .browsefilebtn {
        font-size: 11px;
        font-weight: 400;
        background: #7B30C0;
        color: white;
        border: none;
        padding: .5rem 1rem;
        border-radius: 15px;
        margin-top: 1rem;
    }

    .dnd2 .icn {
        font-size: 40px;
        color: #444CE7;
    }

    .hd .one {
        color: #636161;
        font-weight: 500;
        font-size: 15px;
    }

    .hd .two {
        color: #636161;
        font-weight: 500;
        font-size: 15px;
    }

    .hd .three {
        color: #636161;
        font-weight: 500;
        font-size: 15px;
    }

    .hd .four {
        color: #636161;
        font-weight: 500;
        font-size: 15px;
    }

    .file .rf {
        padding: 1rem 0rem 1rem 0rem;
        font-weight: 500;
        font-size: 20px;
    }

    .files .in .name {
        width: auto;
        font-size: 12px;
    }

    .files .in .size {
        width: auto;
        font-size: 12px;
    }

    .files .in .people {
        width: auto;
        display: flex;
        justify-content: center;
        font-size: 12px;
        align-items: center;
    }

    .files .in .modifi {
        width: auto;
        font-size: 12px;
    }

    .dandd {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}


@media screen and (max-width:300px) {
    .document .fu .tabs button {
        background: none;
        border: none;
        color: black;
        font-weight: bold;
        font-size: 8px;
        height: 30px;
        display: flex;
        gap: .2rem;
        align-items: center;
    }


    .document .fu .tabs .icon {
        color: #444CE7;
        font-size: 20px;
    }

    .document .fu .tabs {
        width: 92%;
        display: flex;
        gap: .7rem;
        margin-top: 3rem;
        border-bottom: 3px solid #D7D7D7;
    }


    .hd .one {
        color: #636161;
        font-weight: 500;
        font-size: 12px;
    }

    .hd .two {
        color: #636161;
        font-weight: 500;
        font-size: 12px;
    }

    .hd .three {
        color: #636161;
        font-weight: 500;
        font-size: 12px;
    }

    .hd .four {
        color: #636161;
        font-weight: 500;
        font-size: 12px;
    }

    .file .rf {
        padding: 1rem 0rem 1rem 0rem;
        font-weight: 500;
        font-size: 18px;
    }
}